{% extends 'main.html' %}
{% load static %}
{% block content %}
<style type="text/css">
	footer {
		position: relative;
		margin-top: 5em;

	}
</style>
<form method="POST">
	{% csrf_token %}
	<div style="width: 100%;display: flex;justify-content: center;align-items: center;flex-direction: column;margin-top: 2em;">
		<p style="font-size: 4em;">Enter New Password</p>
		<input type="password" name="new-password" placeholder="Password">
		<input type="password" name="new-re-password" placeholder="Re-Enter Password" style="margin-top: 20px;">
		<p style="font-size:30px;text-align: center;color: red" id="message">{{message}}</p>
		<button style="margin-top:1em;">Submit</button>
	</div>
</form>
<script type="text/javascript">
    const newpassword = document.getElementsByName('new-password')[0];
    const newpasswordre = document.getElementsByName('new-re-password')[0];
    const message = document.getElementById('message');

    newpasswordre.addEventListener('input', function() {
        if (newpassword.value === newpasswordre.value) {
            message.innerHTML = '';
        } else {
            message.innerHTML = 'Passwords Not Matching';
        }
    });
</script>

{% endblock %}
