<td style="direction: ltr; font-size: 0px; padding: 0px; text-align: center; border-collapse: collapse;">
   <div style="background: rgb(255, 255, 255); margin: 0px auto; max-width: 600px;">
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background: rgb(255, 255, 255); width: 100%; border-collapse: collapse;">
         <tbody>
            <tr>
               <td style="direction: ltr; font-size: 0px; padding: 20px 20px 30px; text-align: center; border-collapse: collapse;">
                  <div style="font-size: 0px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;">
                     <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="border-collapse: collapse;">
                        <tbody>
                           <tr>
                              <td style="background-color: transparent; vertical-align: top; padding: 0px; border-collapse: collapse;">
                                 <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="border-collapse: collapse;">
                                    <tbody>
                                       <tr>
                                          <td align="center" style="font-size: 0px; padding: 0px; word-break: break-word; border-collapse: collapse;">
                                             <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse: collapse; border-spacing: 0px;">
                                                <tbody>
                                                   <tr>
                                                      <td style="width: 44px; border-collapse: collapse;"><img alt="Alternate image text" height="auto" src="https://i.imgur.com/HgE8yM7.png" style="border: 0px solid transparent; border-radius: 0px; display: block; outline: 0px; text-decoration: none; height: auto; width: 400px; font-size: 13px; line-height: 100%;" width="44"></td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
   <div style="background: rgb(255, 255, 255); margin: 0px auto; max-width: 600px;">
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background: rgb(255, 255, 255); width: 100%; border-collapse: collapse;">
         <tbody>
            <tr>
               <td style="border: 0px solid rgb(30, 41, 59); direction: ltr; font-size: 0px; padding: 20px 30px 40px; text-align: center; border-collapse: collapse;">
                  <div style="font-size: 0px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;">
                     <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="background-color: transparent; border: 0px solid transparent; vertical-align: top; border-collapse: collapse;" width="100%">
                        <tbody>
                           <tr>
                              <td align="left" style="font-size: 0px; padding: 0px 0px 24px; word-break: break-word; border-collapse: collapse;">
                                 <div style="font-family: Helvetica; font-size: 16px; font-weight: 400; letter-spacing: 0px; line-height: 1.5; text-align: left; color: rgb(30, 41, 59);">
                                    <p style="text-align: justify; margin: 0px; display: block;"><span style="font-size: 40px;">Verify Your Email</span></p>
                                    <p style="text-align: justify; margin: 0px; display: block;">&nbsp;</p>
                                    <p style="text-align: justify; margin: 0px; display: block;"><span style="font-size: 30px;">Hey {{first_name}},</span></p>
                                    <p style="text-align: justify; margin: 0px; display: block;"><span style="font-size: 30px;">You're almost there!<br>{{content}}</span></p>
                                    <p style="margin: 0px; display: block;">&nbsp;</p>
                                 </div>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
   </div>

   <div style="background: rgb(255, 255, 255); margin: 0px auto; max-width: 600px;">
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background: rgb(255, 255, 255); width: 100%; border-collapse: collapse;">
         <tbody>
            <tr>
               <td style="border: 0px solid rgb(30, 41, 59); direction: ltr; font-size: 0px; padding: 20px 30px 40px; text-align: center; border-collapse: collapse;">
                  <div style="font-size: 0px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;">
                     <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="background-color: transparent; border: 0px solid transparent; vertical-align: top; border-collapse: collapse;" width="100%">
                        <tbody>
                           <tr>
                              <td align="center" style="font-size: 0px; padding: 0px 0px 24px; word-break: break-word; border-collapse: collapse;">
                                 <div style="font-family: Helvetica; font-size: 16px; font-weight: 400; letter-spacing: 0px; line-height: 1.5; text-align: left; color: rgb(30, 41, 59);">
                                 	<p style="font-size:50px;margin-left: 3.5em;">{{otp}}</p>
                                 </div>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
   <div style="background: rgb(255, 255, 255); margin: 0px auto; max-width: 600px;">
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background: rgb(255, 255, 255); width: 100%; border-collapse: collapse;">
         <tbody>
            <tr>
               <td style="border: 0px solid rgb(30, 41, 59); direction: ltr; font-size: 0px; padding: 0px 50px; text-align: center; border-collapse: collapse;">
                  <div style="font-size: 0px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;">
                     <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="border-collapse: collapse;">
                        <tbody>
                           <tr>
                              <td style="background-color: transparent; border: 0px solid transparent; vertical-align: top; padding: 0px; border-collapse: collapse;">
                                 <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="border-collapse: collapse;">
                                    <tbody>
                                       <tr>
                                          <td style="font-size: 0px; padding: 10px 0px; word-break: break-word; border-collapse: collapse;">
                                             <p style="border-top: 1px solid rgb(235, 71, 71); font-size: 1px; margin: 0px auto; width: 100%; display: block;"></p>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
   <div style="background: 0px 0px transparent; margin: 0px auto; max-width: 600px;">
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background: 0px 0px transparent; width: 100%; border-collapse: collapse;">
         <tbody>
            <tr>
               <td style="border: 0px solid rgb(30, 41, 59); direction: ltr; font-size: 0px; padding: 20px 20px 30px; text-align: center; border-collapse: collapse;">
                  <div style="font-size: 0px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;">
                     <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="background-color: transparent; border: 0px solid transparent; vertical-align: top; border-collapse: collapse;" width="100%">
                        <tbody>
                           <tr>
                              <td align="center" style="font-size: 0px; padding: 12px 0px; word-break: break-word; border-collapse: collapse;">
                                 <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="float: none; display: inline-table; border-collapse: collapse;">
                                    <tbody>
                                       <tr>
                                          <td style="padding: 0px 5px; vertical-align: middle; border-collapse: collapse;">
                                             <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-radius: 600px; width: 32px; border-collapse: collapse;">
                                                <tbody>
                                                   <tr>
                                                      <td style="font-size: 0px; height: 32px; vertical-align: middle; width: 32px; border-collapse: collapse;"><a href="https://t.mmtrkr.com/clicks/html/f28870a9-ec3f-416c-aad7-d6dfdf6b1cb5/845168e6-c52e-4b20-a884-2726d11e0376/af079bdc-4a6e-5b32-8374-68a691566b26" target="_blank"><img alt="Facebook" height="32" src="https://img.mmdocdn.com/mailmodo/image/upload/v1631877970/editor/constants/EditorIcons/facebook.png" style="border-radius: 600px; display: block; border: 0px; height: auto; line-height: 100%; outline: 0px; text-decoration: none;" width="32"></a></td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                                 <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="float: none; display: inline-table; border-collapse: collapse;">
                                    <tbody>
                                       <tr>
                                          <td style="padding: 0px 5px; vertical-align: middle; border-collapse: collapse;">
                                             <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-radius: 600px; width: 32px; border-collapse: collapse;">
                                                <tbody>
                                                   <tr>
                                                      <td style="font-size: 0px; height: 32px; vertical-align: middle; width: 32px; border-collapse: collapse;"><a href="https://instagram.com/QUICKxMATHS"><img alt="Instagram" height="32" src="https://img.mmdocdn.com/mailmodo/image/upload/v1639159478/editor/p/31e7bae9-8e82-4d53-a3d6-532487e2ea1f/dce666bbba5337d041244e3820ade732_zikbug.png" style="border-radius: 600px; display: block; border: 0px; height: auto; line-height: 100%; outline: 0px; text-decoration: none;" width="32"></a></td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                                 <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="float: none; display: inline-table; border-collapse: collapse;">
                                    <tbody>
                                       <tr>
                                          <td style="padding: 0px 5px; vertical-align: middle; border-collapse: collapse;">
                                             <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-radius: 600px; width: 32px; border-collapse: collapse;">
                                                <tbody>
                                                   <tr>
                                                      <td style="font-size: 0px; height: 32px; vertical-align: middle; width: 32px; border-collapse: collapse;"><a href="https://twitter.com/QUICKxMATHS_iOS"><img alt="Twitter" height="32" src="https://i.imgur.com/BAwBPuK.png" style="border-radius: 600px; display: block; border: 0px; height: auto; line-height: 100%; outline: 0px; text-decoration: none;" width="40"></a></td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                                 <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="float: none; display: inline-table; border-collapse: collapse;">
                                    <tbody>
                                       <tr>
                                          <td style="padding: 0px 5px; vertical-align: middle; border-collapse: collapse;">
                                             <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-radius: 600px; width: 32px; border-collapse: collapse;">
                                                <tbody>
                                                   <tr>
                                                      <td style="font-size: 0px; height: 32px; vertical-align: middle; width: 32px; border-collapse: collapse;"><a href="https://apps.apple.com/us/app/quick-x-maths/id1644049604"><img alt="App Store" height="32" src="https://i.imgur.com/YBJ1SI8.png" style="border-radius: 600px; display: block; border: 0px; height: auto; line-height: 100%; outline: 0px; text-decoration: none;" width="40"></a></td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>                              
                              </td>
                           </tr>
                           <tr>
                              <td align="left" style="font-size: 0px; padding: 0px 0px 0px 5px; word-break: break-word; border-collapse: collapse;">
                                 <div style="font-family: Helvetica; font-size: 14px; font-weight: 400; letter-spacing: 0.4px; line-height: 1.4; text-align: left; color: rgb(68, 68, 68);">
                                    <p style="text-align: center; margin: 0px; display: block;"></p>
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <td style="background: 0px 0px; font-size: 0px; word-break: break-word; border-collapse: collapse;">
                                 <div style="height: 24px;">&nbsp;</div>
                              </td>
                           </tr>
                           <tr>
                              <td align="left" style="font-size: 0px; padding: 0px 0px 0px 5px; word-break: break-word; border-collapse: collapse;">
                                 <div style="font-family: Helvetica; font-size: 12px; font-weight: 400; letter-spacing: 0.4px; line-height: 1.4; text-align: left; color: rgb(68, 68, 68);">
                                    <p style="text-align: center; margin: 0px; display: block;"><strong>| Privacy Policy | Contact Details | &nbsp;&nbsp;</strong></p>
                                 </div>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
</td>