{% extends 'main.html' %}
{% load static %}
{% block content %}
<style type="text/css">
	footer {
		position: relative;
		margin-top: 5em;

	}
</style>
<form method="POST">
	{% csrf_token %}
	<div style="width: 100%;display: flex;justify-content: center;align-items: center;flex-direction: column;margin-top: 2em;">
		<p style="font-size: 5em;">Verify OTP</p>
		<input type="number" name="otp" placeholder="OTP" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==6) return false;"/>
		<p style="font-size:30px;text-align: center">{{message}}</p>
		<button style="margin-top:1em;">Submit</button>
	</div>
</form>
{% endblock %}